*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(250, 232, 174);
}   
.pergunta{
    background-color: rgb(255, 217, 0);
    font-size: 50px;
    height: 70px;
    margin: 20px;
    text-align: center;
    color: rgb(154, 133, 0);
}
.button input{
    margin: 120px;
    width: 30%;
    height: 100px;
    cursor: pointer;
}
#respostaS{
    background-color: rgb(93, 255, 93);
    font-size: 30px;
    color: rgb(15, 79, 15);
    border-color: rgb(6, 180, 6);
}
#respostaN{
    background-color: rgb(253, 55, 55);
    font-size: 30px;
    color: rgb(79, 15, 15);
    border-color: rgb(180, 6, 6);
}